# ML Model

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dataset.csv")

In [3]:
df.head()

   id  day  exce    date
0   1    6  20.0  01-Jan
1   1    7  20.0  02-Jan
2   1    1  24.0  03-Jan
3   1    2  20.0  04-Jan
4   1    3  20.0  05-Jan

In [4]:
x = df.iloc[:,0:2]

In [5]:
x.head()

   id  day
0   1    6
1   1    7
2   1    1
3   1    2
4   1    3

In [6]:
y = df.iloc[:,2]

In [7]:
y.head()

0    20.0
1    20.0
2    24.0
3    20.0
4    20.0
Name: exce, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=1/3, random_state=0)

In [12]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

##### regressor.predict([[JOB_ID, DAY_ID]])

In [18]:
print("Predicted time =>",regressor.predict([[1,1]])[0])

Predicted time => 25.64342782891179